<h1>Add a New Lesson</h1>

<form action="/lessons" method="post">
  <label for="name">Lesson Name</label>
  <input id="name" name="lesson[name]" type="text"><br>
  <br>
  <label for="content">Content</label>
  <input id="content" name="lesson[content]" type="text"><br>
  <br>
  <button>Create Lesson</button>
</form>
